@include breakpoint(xlarge) {

}

@include breakpoint(large) {

    #footer {
        top: 18px;
    }

    #projects {
        top: 9px;
        width: 800px;

        .panel {
            margin: 0px;
            width: calc(50% - 2px);

            // hide mid-tile & other stylings

            &:nth-child(3n+1):after {
                display: none;
            }
            &:nth-child(3n+3):after {
                display: none;
            }
            &:nth-child(3n+2) {
                background: linear-gradient(to right, rgba(130,131,133,1) 0%, rgba(130,131,133,1) 100%);

                a {
                    background: radial-gradient(ellipse at center, rgba(130,131,133,0) 0%, rgba(130,131,133,1) 80%, rgba(130,131,133,1) 85%) !important;
                    &:after {
                        background: #828385;
                    }
                }
            }

            // all pseudo panels

            &:nth-child(1):before,
            &:nth-child(1):after,
            &:nth-child(2):before,
            &:nth-child(2):after,
            &:nth-last-child(1):before,
            &:nth-last-child(1):after,
            &:nth-last-child(2):before,
            &:nth-last-child(2):after {
                transform: translate3d(0px,0px,0px);
            }

            // first row left panel, right panel

            &:nth-child(1):before,
            &:nth-child(1):after,
            &:nth-child(2):before,
            &:nth-child(2):after {
                position: absolute;
                top: -10px;
                display: block;
                height: 15px;
                border: none;
                content: "";
                cursor: pointer;
            }
            &:nth-child(1):after {
                left: 238px;
                width: 10px;
                border-top: 10px solid transparent;
                border-right: 10px solid #828385;
            }
            &:nth-child(1):before {
                left: 248px;
                width: 150px;
                background: #828385;
            }
            &:nth-child(2):after {
                right: 240px;
                width: 10px;
                border-top: 10px solid transparent;
                border-left: 10px solid #828385;
            }
            &:nth-child(2):before {
                right: 250px;
                width: 150px;
                background: #828385;
            }

            // last row left panel, right panel

            &:nth-last-of-type(2):before,
            &:nth-last-of-type(2):after,
            &:nth-last-of-type(1):before,
            &:nth-last-of-type(1):after {
                position: absolute;
                bottom: -10px;
                display: block;
                height: 10px;
                border: none;
                content: "";
                cursor: pointer;
            }
            &:nth-last-of-type(2):after {
                left: 238px;
                width: 10px;
                border-top: 10px solid #828385;
                border-left: 10px solid transparent;
            }
            &:nth-last-of-type(2):before {
                left: 248px;
                width: 150px;
                background: #828385;
            }
            &:nth-last-of-type(1):after {
                right: 240px;
                width: 10px;
                border-top: 10px solid #828385;
                border-right: 10px solid transparent;
            }
            &:nth-last-of-type(1):before {
                right: 250px;
                width: 150px;
                background: #828385;
            }

            // column one, column two

            &:nth-child(2n+1) {
                margin: 0px 2px 2px 0px;

                &:nth-last-child(2) {
                    margin-bottom: 0px;
                }
            }
            &:nth-child(2n) {
                margin: 0px 0px 2px 0px;

                &:nth-last-child(1) {
                    margin-bottom: 0px;
                }
            }
        }
    }
}

@include breakpoint(medium) {

    #header {
        animation: trans-fade-in 1.1s forwards;
    }
    #footer {
        top: -2px;
        animation: trans-fade-in 1.1s forwards;
    }

    #projects {
        top: -1px;
        width: auto;
        max-width: 400px;
        animation: trans-fade-in 0.75s;

        &:before {
            animation: trans-fade-in 1.5s;
        }

        &:after {
            animation: trans-fade-in 1.5s;
        }

        .panel {
            margin: 0px !important;
            width: 100%;

            h2 {
                transform: translate3D(0px,$panel-h2-hover,0px);
            }
            p {
                opacity: 1;
                transition: opacity 0.45s 0.125s, transform 0.3s 0.115s;
                transition-timing-function: cubic-bezier(0.215,0.61,0.355,1);
                transform: translate3D(0px,0px,0px);
            }

            &:not(:last-child) {
                margin-bottom: 2px !important;
            }

            &:nth-child(1):before,
            &:nth-child(1):after,
            &:nth-child(2):before,
            &:nth-child(2):after,
            &:nth-last-child(2):before,
            &:nth-last-child(2):after,
            &:nth-last-child(1):before,
            &:nth-last-child(1):after {
                display: none;
            }
        }
    }
}
