/*--------------------------------------------------------------
0.1 - Tweaks
--------------------------------------------------------------*/

*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.disable-hover { pointer-events: none; }

// Customization of text-selection in some browsers
// ::-moz-selection { }
// ::selection { }

// Removes "view password eye" and "clear input" buttons on form inputs in IE
// ::-ms-reveal { display: none; }
// ::-ms-clear { display: none; }

/*--------------------------------------------------------------
0.2 - Mixins, Variables
--------------------------------------------------------------*/

$panel-h2-hover: -27px;
$panel-p-hover: 0deg;

@mixin breakpoint($point) {
    @if $point == xlarge {
        @media (max-width: 1340px) { @content; }
    }
    @else if $point == large {
        @media (max-width: 1120px) { @content; }
    }
    @else if $point == medium {
        @media (max-width: 820px) { @content; }
    }
    @else if $point == small {
        @media (max-width: 380px) { @content; }
    }
}
