&#proj-canvas-platformer {
    background: linear-gradient(45deg, #33ce79 1%,#337bf7 100%);
}

&#proj-mouse-track {
    background: linear-gradient(45deg, #2cb29e 0%,#cfe08b 100%);
}

&#proj-accents-ui {
    background: linear-gradient(45deg, #28b4cc 0%,#ed5795 100%);
}

&#proj-tikkit {
    background: linear-gradient(45deg, #73d2c4 0%, #2572e6 100%);
}

&#proj-parallax-clouds {
    background: linear-gradient(45deg, #e053aa 0%,#93f260 100%);
}

&#proj-landing-page {
    background: linear-gradient(45deg, #28c3cc 0%, #79e07e 100%);
}
