@include breakpoint(xlarge) {

    #projects {
        &:before {
            transform: translate3D(0px, 0px, 0px);
        }
        &:after {
            transform: translate3D(0px, 0px, 0px) scaleX(-1);
        }
    }

}

@include breakpoint(large) {

    #footer {
        top: 18px;
    }

    #projects {
        top: 9px;
        width: 800px;

        .panel {
            margin: 0px;
            width: calc(50% - 2px);

            h2 {
                font-size: 19px;
            }
            p {
                font-size: 13px;
            }

            // hide mid-tile & other stylings

            &:nth-child(3n+1):after {
                display: none;
            }
            &:nth-child(3n+3):after {
                display: none;
            }
            &:nth-child(3n+2) {
                background: #828385;
            }

            // all pseudo panels

            &:nth-child(1):before,
            &:nth-child(1):after,
            &:nth-child(2):before,
            &:nth-child(2):after,
            &:nth-last-child(1):before,
            &:nth-last-child(1):after,
            &:nth-last-child(2):before,
            &:nth-last-child(2):after {
                transform: translate3d(0px,0px,0px);
            }

            // first row left panel, right panel

            &:nth-child(1):before,
            &:nth-child(1):after,
            &:nth-child(2):before,
            &:nth-child(2):after {
                position: absolute;
                top: -10px;
                display: block;
                height: 10px;
                border: none;
                content: "";
                cursor: pointer;
            }
            &:nth-child(1):after {
                left: 238px;
                width: 10px;
                border-top: 10px solid transparent;
                border-right: 10px solid #828385;
            }
            &:nth-child(1):before {
                left: 248px;
                width: 150px;
                background: #828385;
            }
            &:nth-child(2):after {
                right: 240px;
                width: 10px;
                border-top: 10px solid transparent;
                border-left: 10px solid #828385;
            }
            &:nth-child(2):before {
                right: 250px;
                width: 150px;
                background: #828385;
            }

            // last row left panel, right panel

            &:nth-last-child(2):before,
            &:nth-last-child(2):after,
            &:nth-last-child(1):before,
            &:nth-last-child(1):after {
                position: absolute;
                bottom: -10px;
                display: block;
                height: 10px;
                border: none;
                content: "";
                cursor: pointer;
            }
            &:nth-last-child(2):after {
                left: 238px;
                width: 10px;
                border-top: 10px solid #828385;
                border-left: 10px solid transparent;
            }
            &:nth-last-child(2):before {
                left: 248px;
                width: 150px;
                background: #828385;
            }
            &:nth-last-child(1):after {
                right: 240px;
                width: 10px;
                border-top: 10px solid #828385;
                border-right: 10px solid transparent;
            }
            &:nth-last-child(1):before {
                right: 250px;
                width: 150px;
                background: #828385;
            }

            // column one, column two

            &:nth-child(2n+1) {
                margin: 0px 2px 2px 0px;

                &:nth-last-child(2) {
                    margin-bottom: 0px;
                }
            }
            &:nth-child(2n) {
                margin: 0px 0px 2px 0px;

                &:nth-last-child(1) {
                    margin-bottom: 0px;
                }
            }
        }
    }
}

@include breakpoint(medium) {

    #footer {
        top: -2px;
    }

    #projects {
        top: -1px;
        width: auto;
        max-width: 400px;

        .panel {
            margin: 0px !important;
            width: 100%;

            &:not(:last-child) {
                margin-bottom: 2px !important;
            }

            &:nth-child(1):before,
            &:nth-child(1):after,
            &:nth-child(2):before,
            &:nth-child(2):after,
            &:nth-last-child(2):before,
            &:nth-last-child(2):after,
            &:nth-last-child(1):before,
            &:nth-last-child(1):after {
                display: none;
            }
        }
    }
}
