body {
    animation: colour-fade-in 0.35s;
}

#header {
    animation: trans-fade-in 1s;
}
#footer {
    animation: trans-fade-in 1s;
}
.panel {
    opacity: 0;
    transition: opacity 1s;
}
.panel-view {
    opacity: 1;
}

@keyframes colour-fade-in {
    0% {
        background: #ffffff;
    }
    100% {
        background: #fafafa;
    }
}

@keyframes trans-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
